/* Site Colors:
  
#1A446C - blue grey
  
#689DC1 - light blue
  
#D4E6F4 - very light blue
  
#FFFFFF - white
  
#000000 - black
*/



html 

	{ 
	height: 100%; 
	width: 100%; 
	}


body 

	{ 
	height: 100%; 
	width: 100%; 
	margin: 0; 
	padding: 0; 
	border: 0; 
	background: #FFFFFF;
	margin-left:2%;
  
	font: 	13px/15px Helvetica,Verdana, Arial,sans-serif; 
	}


img 

	{ 
	border: none; 
	}


table, tr, td, tr 

	{ 
	border-collapse: collapse; 
	vertical-align: top; 
	text-align: left;
  
	font: 13px/15px Helvetica,Verdana, Arial,sans-serif; 
	}

/*navigation links	*/
/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #444;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;
color: #fff;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

.header
 
	{
	height: 80px; 
	text-align: left; 
	background: #FFFFFF; 
	color: #333333;
	font: 2em Helvetica,Verdana, Arial,sans-serif;
	padding-bottom:4px;
	margin-bottom:2%;
	margin-left: 2%;
	
	
	 }


#header h1 
	{ 
	padding: 1em; 
	margin: 0;
	}


#footer 

	{ 
	height: 2em; 
	padding: 1em; 
	text-align: center; 
  	background: #FFFFFF;  
	color: #333333;
	clear:both;
	 
	}


table.bordered tr th, table.bordered tr td 

	{ 
	border: 1px solid #FFFFFF; 
	color: #ffffff;
	font: 12px Helvetica,Verdana, Arial,sans-serif;
	padding:10px;
	margin-left:5%;
	}


#photo
 
	{
	text-align:center;
	color: #ffffff;
	font: 15px Helvetica,Verdana, Arial,sans-serif;
	/*min-height: 800px;*/
	width:80%;
	margin-left:20%;
	padding:10px;
	
	}

 #comment-form
 {
	/*text-align:center*/
	background: #FFFFFF; 
	color: #333333;
	font: 12px Helvetica,Verdana, Arial,sans-serif;
	/*min-height: 800px;*/
	width:50%;
	margin-left:10%;
	padding:10px;
	
	 }
.formrow{
	padding:10px;
}
	 

.container
 {
 	float: left;
    width: 45%;
	text-align:justify;  	
  	line-height: 180%;
  	;	
 }
	
#content
 {
	float:left; 
	padding:2%;
		
  		
 }	
 #photo_gallery
 {
	float:left; 
	padding:2%;
	
  		
 }
/* wrapper to add padding to contact page to even out height with nav*/
 .text_wrapper
 {
	padding-top:5px;
 		
 }
 #cv_wrapper
 {
	float:left; 
	width: 55%;
    text-align: justify;
    line-height: 180%;
    margin-left: 20%;
 		
 }
 .video
 {
	float:right;
	margin-right:10%;
	margin-bottom:5%; 
	 }
	 

input[type=submit] {
  background: #FFFFFF;
  border-radius: 5px;
  font-family: Helvetica;
  color: #333333;
  font-size: 10px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}
/*social media icons at fixed position on page*/
.icons{
	position:fixed;
	left:90%;
	top:5%;

}
 @media screen and (max-width:680px){
	.header {height: 80px; 
	text-align: center; 
	background: #FFFFFF; 
	color: #333333;
	font: 1.0em Helvetica,Verdana, Arial,sans-serif;
	padding-bottom:4px;
	margin-bottom:2%;
	margin-left: 2%;}

  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
  #photo {
	 margin: 0 auto;
   
}
}
  @media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}



 




/* hero div CSS*/
#hero{
  background-image:url(https://chrisaam.files.wordpress.com/2015/03/wallpaper-2846361.jpg);
  background-size:cover;
  position:relative;
}

#hero_header{
	display:none;	
  position:absolute;
  top:50%;
  text-align:center;
  width:100%;
  color:#fff;
  font-family: 'Josefin Slab', serif;
  /*font-family:'Lobster', cursive; */
  font-size:36px;
  -ms-transform: translate(0,-50%); /* IE 9 */
   	-webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%); 
   

}



  
  
